In [1]:
import numpy as np
import pandas as pd
import os

from pathlib import Path

In [2]:
DATA_DIR = Path.home()/Path('shared/climate-data')

co2_file = DATA_DIR / "monthly_in_situ_co2_mlo_cleaned.csv"
data = pd.read_csv(co2_file, na_values=-99.99).dropna()
data.head()

,year,month,date_index,fraction_date,c02,data_adjusted_season,data_fit,data_adjusted_seasonally_fit,data_filled,data_adjusted_seasonally_filed
2,1958,3,21259,1958.2027,315.70,314.43,316.19,314.90,315.70,314.43
3,1958,4,21290,1958.2877,317.45,315.16,317.30,314.98,317.45,315.16
4,1958,5,21320,1958.3699,317.51,314.71,317.86,315.06,317.51,314.71
6,1958,7,21381,1958.5370,315.86,315.19,315.86,315.22,315.86,315.19
7,1958,8,21412,1958.6219,314.93,316.19,313.99,315.29,314.93,316.19

### Question 2 [5 points]

Next, in order to recreate the figure in the talk, we're going to find the monthly anomaly averaging across years. You should end up with the following data frame after writing your function and running the cell (only the first few months are shown, it should have data for all 12 months):

<img src="figures/monthly-co2-anomaly-df.png" width="150px" />

In order to do so, you will have to remove the annual average and use that to identify the monthly trend. Here some clue of how to do this, but feel free to explore other options:

In [3]:
# def detrend(f):
#     detrended_xarr = 

#     return detrended_xarr

# dy = data.groupby('year')
# c02anomaly = dy.apply(detrend)
# display(c02anomaly)
# monthly_anomaly = c02anomaly.groupby('month').mean()[['c02']]
# monthly_anomaly

In [4]:
# using a different method
dy = data.groupby('year')[['c02']].mean()
merged = data.merge(dy, how='inner', on='year') 
merged['c02'] = merged['c02_x'] - merged ['c02_y']
monthly_anomaly = merged.groupby('month').mean()[['c02']]
monthly_anomaly

            c02
month
1     -0.683835
2      0.076121
3      0.874238
4      2.240270
5      2.864155
6      2.299297
7      0.792919
8     -1.195018
9     -2.851367
10    -2.857316
11    -1.453272
12    -0.159303

In [5]:
# assert list(monthly_anomaly['c02']) == [-0.6838350970017644, 0.07612096774193428, 0.8742380952380925,
#                                         2.240269841269833, 2.8641545138888853, 2.299296594982075, 
#                                         0.792918871252205, -1.1950176366843068, -2.851366843033514, 
#                                        -2.8573163082437323, -1.453271604938272, -0.15930335097002282]